<h1>Transaction</h1>

<div id="success">
	<h2>Successful Charges</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Paid</th>
			<th>Date</th>
		</tr>
		<% @success.each do |success|%>
			<% name=Customer.find(success.customer_id)%>
		<tr>
			<td><%= "#{name.first_name} #{name.last_name}"%></td>
			<td><%= "$#{success.amount}" %></td>
			<td><%= success.paid%></td>
			<td><%= success.created_at%></td>
		</tr>
	<%end%>
	</table>
</div>

<div id="faild">
	<h2> Failed Charges</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Paid</th>
			<th>Date</th>
		</tr>
		<% @faild.each do |faild| %>
			<% name=Customer.find(faild.customer_id)%>
		<tr>
			<td><%= "#{name.first_name} #{name.last_name}"%></td>
			<td><%= "$#{faild.amount}"%></td>
			<td><%= faild.paid%></td>
			<td><%= faild.created_at%></td>
		</tr>
		<%end%>
	</table>

</div>

<div id="disputed">
	<h2> Failed Charges</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Total Amount</th>
			<th>Disputed status</th>
			<th>Date Exp</th>
		</tr>
		<% @disputed.each do |disputed|%>
			<% name=Customer.find(disputed.customer_id) %>
		<tr>
			<td><%= "#{name.first_name} #{name.last_name}" %></td>
			<td><%= "$#{disputed.amount}."%></td>
			<td><%= disputed.disputed%></td>
			<td><%= disputed.created_at%></td>
		</tr>
		<%end%>
	</table>
</div>