/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#success td{
	background: cyan;
}

#faild td{
	background: #ff0000;
}

#disputed td{
	background: #FF5400;
	
}
#disputed table, #faild table, #success table{
	border: 1px solid #d0d0d0;
}